<nz-layout class="main">
  <nz-header>
    <div class="logo"></div>
    <ul class="nav" nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'">
      <li nz-submenu
          nzTitle="LANGUAGE">
        <ul>
          <li nz-menu-item>
            中文
          </li>
          <li nz-menu-item>
            English
          </li>
        </ul>
      </li>
    </ul>
  </nz-header>
  <nz-layout>
    <nz-sider nzWidth="200px" nzTheme="light">
      <ul nz-menu nzMode="inline">
        <li nz-menu-item
            routerLink="/">
          <i nz-icon nzType="dashboard"></i> 仪表盘
        </li>
        <li nz-submenu
            nzIcon="schedule"
            nzTitle="调度计划">
          <ul>
            <li nz-menu-item
                [open]="['script-task']">
              脚本任务
            </li>
            <li nz-menu-item
                [open]="['api-task']">
              接口任务
            </li>
            <li nz-menu-item
                [open]="['queue-task']">
              队列任务
            </li>
          </ul>
        </li>
        <li nz-submenu
            nzIcon="history"
            nzTitle="历史记录">
          <ul>
            <li nz-menu-item
                [open]="['script-journal']">
              脚本日志
            </li>
            <li nz-menu-item
                [open]="['api-journal']">
              接口日志
            </li>
            <li nz-menu-item
                [open]="['queue-journal']">
              队列日志
            </li>
          </ul>
        </li>
      </ul>
    </nz-sider>

    <nz-layout class="container">
      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
