<nz-page-header nzTitle="新增任务"
                nzBackIcon
                (nzBack)="main.back()">
  <nz-breadcrumb nz-page-header-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/">仪表盘</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      <a routerLink="/schedule">计划任务</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>
      新增任务
    </nz-breadcrumb-item>
  </nz-breadcrumb>

  <nz-page-header-content>
    <nz-card [nzBordered]="false">
      <form nz-form [formGroup]="form" (ngSubmit)="submit()">
        <nz-form-item>
          <nz-form-label nzRequired
                         formLabelCol>
            任务名称
          </nz-form-label>
          <nz-form-control formControlCol>
            <input nz-input
                   formControlName="name"
                   placeholder=""/>
          </nz-form-control>
        </nz-form-item>

      </form>
    </nz-card>
  </nz-page-header-content>
</nz-page-header>
