/* You can add global styles to this file, and also import other style files */
.ant-table-thead > tr > th {
  font-weight: bold;
}

.control-panel {
  margin-bottom: 12px;

  [nz-button] {
    margin-right: 8px;
  }
}
